1dam/LM/XML/examen/examXML1DAM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="trayecto" type="trayecto">
    </xs:element>
    <xs:complexType name="trayecto">
        <xs:sequence>
            <xs:element name="usuario" type="Tusuario" minOccurs="0" maxOccurs="1"/>
            <xs:element name="anonimo" type="Tanon" minOccurs="0" maxOccurs="1"/>

            <xs:element name="puntoOrigen" type="Tpo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="puntoIntermedio" type="tpi" minOccurs="2" maxOccurs="100"/>
            <xs:element name="puntoDestino" type="tpd" minOccurs="0" maxOccurs="5"/>
            <xs:element name="resumen" type="tresumen" minOccurs="0" maxOccurs="5"/>
        </xs:sequence>
        <xs:attribute name="dificultad" type="tdificultad" use="required"/>
    </xs:complexType>
    <xs:simpleType name="tdificultad">
        <xs:restriction base="xs:string">
            <xs:pattern value="(fácil|medio|difícil)"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tusuario">
        <xs:sequence>
            <xs:element name="codigoUsuario" type="TcU"></xs:element>
            <xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="pref" type="xs:boolean" use="optional"></xs:attribute>
    </xs:complexType>
    <xs:simpleType name="TcU">
        <xs:restriction base="xs:string">
            <xs:pattern value="C[0-9]{4}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tanon">
        <xs:attribute name="sinNombre" type="xs:boolean" default="true"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="Tpo">
        <xs:all>
            <xs:element name="pais" type="Tpais"></xs:element>
            <xs:element name="latitud"></xs:element>
            <xs:element name="longitud"></xs:element>

        </xs:all>
    </xs:complexType>
    <xs:complexType name="tpi">
        <xs:sequence>
            <xs:element name="latitud" type="Tlatitud" minOccurs="1"></xs:element>
            <xs:element name="longitud" type="Tlongitud" minOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Tlatitud">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90"></xs:minInclusive>
            <xs:maxInclusive value="90"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Tlongitud">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180"></xs:minInclusive>
            <xs:maxInclusive value="180"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="tpd"></xs:complexType>
    <xs:complexType name="tresumen"></xs:complexType>
    <xs:complexType name="Tpais">
        <xs:attribute name="ciudad" use="optional"></xs:attribute>
    </xs:complexType>

</xs:schema>